// Place all the styles related to the mentions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-img {
	float: left;
	margin-right: 1em;
}

.btn-default {
	background-color: #337ab7;
	color: #ffffff;
	font-weight: bold;
}